[submodule "deps/anillo-compiler-rt"]
	path = deps/anillo-compiler-rt
	url = ../anillo-compiler-rt.git
[submodule "deps/doxygen-awesome-css"]
	path = deps/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
